@font-face {
    font-family: "Kaushan";
    src: url("../fonts/kaushanscript-regular.woff2") format("woff2"), url("../fonts/kaushanscript-regular.woff") format("woff");
}

@font-face {
    font-family: "Montserrat Bold";
    src: url("../fonts/montserrat-bold.woff2") format("woff2"), url("../fonts/montserrat-bold.woff") format("woff");
}

@font-face {
    font-family: "Montserrat Regular";
    src: url("../fonts/montserrat-regular.woff2") format("woff2"), url("../fonts/montserrat-regular.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto-regular.woff2") format("woff2"), url("../fonts/roboto-regular.woff") format("woff");
}