@import "./fonts.scss";
@import "./reset.scss";
body {
    font-family: "Montserrat Regular";
    font-size: 15px;
    color: #333;
    line-height: 1.6;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

hr {
    display: block;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #e5e5e5;
    margin: 40px 0;
}

/* Стилизация container */

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


/* Стилизация intro */

.wr-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url(../img/header.jpg) center no-repeat;
    background-size: cover;
}

.container-intro-inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}

.wr-intro-title {
    font-family: "Montserrat Bold";
    font-size: 140px;
    text-transform: uppercase;
    line-height: 1;
    color: #fff;
}

.wr-intro-title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fff;
    margin: 60px auto;
}

.wr-intro-subtitle {
    font-size: 72px;
    color: #fff;
    font-family: "Kaushan", cursive;
    margin-top: -20px;
}


/* Button */

.wr-intro-button {
    display: inline-block;
    vertical-align: top;
    border: 3px solid #fff;
    padding: 8px 30px;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    transition: 0.5s;
}

.wr-intro-button:hover {
    background-color: #fff;
    color: #333;
}


/* Стиилизация header */

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    width: 100%;
    padding-top: 15px;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Логотип в шапке */

.header-logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}


/*  Панель nav в шапке*/

.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav-links {
    display: inline-block;
    position: relative;
    margin: 0 13px;
    vertical-align: top;
    text-decoration: none;
    font-family: "Montserrat Regular";
    color: #fff;
    transition: 0.3s;
}

.nav-links::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fce38a;
    position: absolute;
    transition: 0.3s;
    opacity: 0;
    top: 100%;
    left: 0;
    z-index: 10;
}

.nav-links:hover {
    color: #fce38a;
}

.nav-links:hover::after,
.nav-links.active::after {
    opacity: 1;
}

.nav-links.active {
    color: #fce38a;
}


/* Intro slider */

.wr-intro-slider {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 15;
    width: 100%;
}

.wr-intro-slider-inner {
    display: flex;
    justify-content: space-between;
}

.wr-intro-slider span {
    font-weight: 700;
    font-size: 24px;
}

.intro-slider-item.active {
    opacity: 1;
}

.intro-slider-item.active::before {
    content: "";
    width: 70px;
    height: 3px;
    background-color: #f38181;
    position: absolute;
    top: -3px;
    left: 0px;
    z-index: 20;
}

.intro-slider-item {
    position: relative;
    width: 23%;
    border-top: 3px solid #fff;
    font-family: "Montserrat Regular";
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    padding: 20px 0;
    opacity: 0.65;
}

// Section 

.section {
    padding: 80px 0;
}

.section--devices {
    background: url("../img/devices/devices-bg.jpg") center, no-repeat;
    background-size: cover;
    padding-bottom: 0;
}

.section-header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;
    text-align: center;
}

.section-subtitle {
    font-family: "Kaushan", cursive;
    font-size: 24px;
    color: #333;
}

.section-title {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #333;
}

.section-title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 30px auto 30px;
}

.section-text {
    font-size: 15px;
    color: #999;
}

// About

.about-pictures {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.about-item {
    position: relative;
    background-color: #95e1d3;
    width: 380px;
}

.about-item:hover .about-item-img {
    transform: translate3d(-10px, -10px, 0);
}

.about-item:hover .about-item-img img {
    opacity: 0.1;
}

.about-item:hover .about-item-text {
    opacity: 1;
}

.about-item-img {
    background: linear-gradient(to bottom, #f38181, #fce38a);
    transition: transform 0.2s linear;
}

.about-item-img img {
    display: block;
    transition: opacity 0.2s linear;
}

.about-item-text {
    width: 100%;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0,-50%,0);
    opacity: 0;
    transition: opacity 0.2s linear;
}

// Statistics

.about-statistics {
    background-color: #95e1d3;
}

.statistic {
    display: flex; 
}

.stat-item {
    flex: 1 1 0;
    border-left: 1px solid #b5eae0;
    text-align: center;
    color: #fff;
    padding: 70px 25px;
}

.stat-item:last-child {
    border-right: 1px solid #b5eae0;
}

.stat-item-count {
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 10px;
}

.stat-item-text {
    text-transform: uppercase;
    font-size: 14px;
}

// Services

.section-services {
    display: flex;
}

.services-item {
    position: relative;
    flex: 1 1 0;
    padding-left: 85px;
    padding-right: 35px;
}

.services-icon {
    position: absolute;
    top: 0;
    left: 28px;
    z-index: 1;
}

.services-title {
    margin-bottom: 10px;
    font-size: 14px;
    text-transform: uppercase;
    color: #333;
}

.services-text {
    font-size: 15px;
    color: #999;
}

// Devices

.devices {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.device-img {
    display: block;
}

.device-img--iphone {
    position: absolute;
    right: 0;
    bottom: -10vh;
    z-index: 3;
}







